# Индивидуальное задание 10

In [2]:
import pandas as pd
import io


data = '''Object,X,Y,Cluster
1, 15, 1, 0
2, 4, 4, 1
3, 4, 20, 2
4, 5, 6, 2
5, 2, 20, 0
6, 12, 10, 0
7, 11, 19, 0
8, 1, 14, 2
9, 1, 20, 2
10, 6, 10, 2
11, 11, 16, 2
12, 11, 17, 2
13, 19, 2, 0
14, 12, 13, 1
15, 17, 20, 0'''


df = pd.read_csv(io.StringIO(data), index_col='Object')
df

         X   Y  Cluster
Object
1       15   1        0
2        4   4        1
3        4  20        2
4        5   6        2
5        2  20        0
6       12  10        0
7       11  19        0
8        1  14        2
9        1  20        2
10       6  10        2
11      11  16        2
12      11  17        2
13      19   2        0
14      12  13        1
15      17  20        0

In [3]:
import numpy as np
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=3, init=np.array([[12.67, 12.0], [8.0, 8.5], [5.57, 14.71]]), max_iter=100, n_init=1)
df['y_kmeans'] = kmeans.fit_predict(df.drop(columns='Cluster'))
df

         X   Y  Cluster  y_kmeans
Object
1       15   1        0         1
2        4   4        1         1
3        4  20        2         2
4        5   6        2         1
5        2  20        0         2
6       12  10        0         1
7       11  19        0         0
8        1  14        2         2
9        1  20        2         2
10       6  10        2         1
11      11  16        2         0
12      11  17        2         0
13      19   2        0         1
14      12  13        1         0
15      17  20        0         0

In [ ]:
from scipy.spatial import distance

df_cluster1 = df[df.y_kmeans == 0].drop(columns=['Cluster', 'y_kmeans'])

cluster1_x = df_cluster1.X.values
cluster1_y = df_cluster1.Y.values

cluster1 = np.array(list(zip(cluster1_x, cluster1_y)))
cluster1

array([[11, 19],
       [11, 16],
       [11, 17],
       [12, 13],
       [17, 20]])

In [ ]:
centroid_0 = kmeans.cluster_centers_[0]

W = sum([distance.euclidean(centroid_0, obj) for obj in cluster1]) / (len(cluster1))
round(W, 3)

3.015